*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#EDD263;
}

h2,h3,h4,h5,a,p,li{
    text-decoration:none;
    color:#3B2D64;
    font-family: roboto,sans-serif;
}
header,ul{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    margin-top: 30px;
}

ul li{
    list-style:none;
    margin-top: 30px;
}

li a{  
    padding: 0px 30px;
}

.search_area {
    margin-top: 100px;
}
.search-field{
    text-align: center;
}
input[type=text] {
        width:30%;
        padding: 10px 10px;
        outline: none;
        border: 1px solid #3B2D64;
        box-shadow: 0px 0px 2px #3B2D64;
}

.search-button{
    background-color: #3B2D64;
    color: #ffff;
    padding: 10px;
    position: absolute;
}

#food-info{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin: 70px 85px;
    
}
.food-text{
  position: relative;
  cursor: pointer;
}
img{
    width:80%;
}

.food {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 50%;
    position: fixed;
    margin-left: 25%;
    z-index: 1;
}

